<div> 
	search : <input id="search-item" type="text" value="{{ query }}" />
	<ul id="mp3-collection">
	{% for item in results %}
	<li class="item" item-id="{{ item.id }}"><a href="#"><strong> {{ item.meta.artist }}</strong> ({{ item.meta.year }}) - {{ item.meta.album }} - {{ item.meta.title }}</a></li>
	{% endfor %}
	</ul>
	
	{% if hasPrevious %}
	<button id="range-previous-button" >previous</button>
	{% endif %}
	{% if hasNext %}
	<button id="range-next-button" >next</button>
	{% endif %}
	<span id="range-state">{{ start }}-{{ end }}/{{ total }}</span>
</div>
