body {
	background-color: #0098b1;
	margin:0px;
	/*font-family: 'Georgia'*/
	font-family: "Georgia";
}

#header {
	margin-top:35px;
	margin-left:0px;
	margin-bottom:60px;
}

#header h1 {
	margin:0px;
	padding:0px;
	font-style:normal;
	font-weight:normal;
}
.deep-title {
	text-shadow: 1px 1px 3px #444;
	color:#FFFFFF;
	font-size: 90pt;
	font-family: 'Strait', sans-serif;
}
.deep-js {
	text-shadow: 1px 1px 2px #555;
	color:#b1d3d9;
	margin-left:10px;
	font-size: 30pt;
	font-family: 'Strait', sans-serif;
	margin-right:25px;
}
.deep-baseline {
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 12pt;
	color:black;
	margin-left:20px;
	margin-right:20px;
	line-height: 10px;
	vertical-align: 60%;
}
.deep-baseline-brackets {
	text-shadow: 0px 1px 2px #555;
	font-size: 28pt;
	color:#b1d3d9;
}
#main-menu {
	margin-left:0px;
	padding-bottom:10px;
}

.menu {
}

.menu a, .menu a:visited {
	color:white;
}

.menu a:link, .menu a:visited 
{
   float: left;
   font-size: 15px;
   line-height: 14px;
   margin: 0 10px 4px 10px;
   text-decoration: none;
   padding-left:5px;
   padding-right:5px;
}	

.menu li 
{
	font-family: 'Pathway Gothic One', sans-serif;
   margin: 0;
   padding: 0;
   display: inline;
   list-style-type: none;
}

.menu li.active a {
	color: #CCC;
}

#current-version {
	float:right;
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 11pt;
	color:#000;
	padding:0px;
	margin:0px;
	margin-right:15px;
}


#content {
	box-shadow: 0px 2px 7px #333;
	/*width:800px;*/
	background-color: #FFFFFF;

	padding:20px;
	padding-top:5px;
	padding-left:50px;

	border-radius: 8px;

	margin-bottom:20px;
}

#footer {
	/*width:800px;*/
	font-family: 'Pathway Gothic One', sans-serif;
	font-size: 12pt;
	border-radius: 8px;
	padding:20px;
	color:#FFFFFF;
	padding-left:40px;
	background-color: #222222;
	height:17px;
}

.copyright {
	font-family: "Verdana";
	font-size:8pt;
	margin-top:5px;
	color:#CCCCCC;
	text-align:right;
}

.copyright a, .copyright  a:hover, .copyright  a:visited {
	color:white;
}
/*
pre {
	border-radius: 8px;
	padding-top:30px;
	box-shadow: 0px 2px 7px #333;
	background-color: #EFEFEF;
}
*/
